<div class="sidebar">
  <h1 class="menu-title"><span class="angular">angular</span>-<span class="bing">bing</span></h1>

  <button class="btn" type="button" (click)="connectPins()"> Connect Pins </button>
  <button class="btn" type="button" (click)="zoomOnPin()"> Zoom in Pin </button>
  <button class="btn" type="button" (click)="zoomOnPins()"> Zoom in on Pins </button>
  <button class="btn" type="button" (click)="showInfobox()"> Show Infoboxes </button>
  <button class="btn" type="button" (click)="hideInfobox()"> Hide Infobox </button>
  <button class="btn" type="button" (click)="changePinIcon()"> Change Pin Icon </button>
  <button class="btn" type="button" (click)="changePinColor('red')"> Change Pin Color </button>
  <button class="btn" type="button" (click)="changeInfoboxTemplate()"> Change Infobox </button>

  <div class="flex">
    <button class="btn btn-clear flex-child" type="button" (click)="clearPins()"> Clear Pins </button>
    <button class="btn btn-primary flex-child" type="button" (click)="placePins()"> Place Pins </button>
  </div>
</div>
