<div class="sidebar">
  <nav class="main-nav">
    <ul class="main-menu">
      <h1 class="menu-title">angular-bing</h1>
      <li class="menu-item">
        <a href="#" class="menu-a" target="_blank">
          <h1 class="menu-txt">Notifications</h1>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-a" target="_blank">
          <h1 class="menu-txt">Messages</h1>
        </a>
      </li>
      <li class="menu-item">
        <a href="#" class="menu-a" target="_blank">
          <h1 class="menu-txt">My profile</h1>
        </a>
      </li>
    </ul>
  </nav>

  <button type="button" class="clear-btn" (click)="clearPins()"> Clear Pins</button>
  <button type="button" class="reset-btn" (click)="placePins()"> Place Pins</button>
  <button type="button" class="connect-btn" (click)="connectPins()"> Connect Pins</button>
</div>
