<div class="sidebar">
  <h1 class="menu-title"><span class="angular">angular</span>-<span class="bing">bing</span></h1>
  <button type="button" (click)="clearPins()"> Clear Pins </button>
  <button type="button" (click)="placePins()"> Place Pins </button>
  <button type="button" (click)="connectPins()"> Connect Pins </button>
  <button type="button" (click)="zoomOnPin()"> Zoom in </button>
  <button type="button" (click)="zoomOnPins()"> Zoom in </button>
  <button type="button" (click)="showInfobox()"> Infobox </button>
  <button type="button" (click)="hideInfobox()"> Infobox </button>
</div>
