.sidebar {
  width: 15%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: -3px 0 5px 0 #555;
  -webkit-box-shadow: -3px 0 5px 0 #555;
  box-shadow: -3px 0 5px 0 #555;
}

.menu-title {
  text-align: center;
}

.angular {
  color: #c3002f;
}

.bing {
  color: #008373;
}

.flex-ctr {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  text-align: center;
  margin: 0;
  bottom: 0;
  background: #FFF;
  border-top: 1px solid darkgray;
}

.flex-child {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin: 15px;
}
