/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: sans-serif;
}

.Infobox {
  border: none !important;
}

.custom-infobox {
  background-color: #303030;
  min-height: 100px;
  width: 150px;
  color: #FFF;
  border-radius: 10px;
  opacity: 0.9;
}

.custom-infobox-title {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 220px;
}

.custom-infobox-description {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 220px;
  margin-top: 10px;
}

.btn {
  width: 125px;
  height: 40px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
  padding: 0;
  text-transform: capitalize;
  cursor: pointer
}

.btn-primary {
  color: white;
  background: #426FC5;
}

.btn-clear {
  color: black;
  text-transform: capitalize;
}

.btn:hover {
  border: 1px red solid;
}
