#mapContainer {
  width: 100%;
}

.clear-btn {
  margin-top: 25px;
  margin-right: 25px;
  margin-left: 25px;
  position: absolute;
  z-index: 9999;
}

.reset-btn {
  margin-top: 25px;
  margin-left: 125px;
  position: absolute;
  z-index: 9999;
}

.connect-btn {
  margin-top: 25px;
  margin-left: 225px;
  position: absolute;
  z-index: 9999;
}
